.App {
  text-align: center;
}

.tokei_tick {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}

.tokei_tick_inner {
  background-color: darkslategray;
  position: absolute;
  transform: translateX(-50%);
  border: 1px solid whitesmoke
}

.tokei_tick_symbol {
  position: relative;
  left: -40px;
  width: 80px;
  text-align: center;
}

.middle {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 3px solid black;
  background-color: mediumaquamarine;
}
