.App {
  text-align: center;
}

.face {
  position: relative;
  width: 100vw;
  height: 100vw;
  border-radius: 50%;
}

.tokei_face {
  border: 2px solid gainsboro;
  background: radial-gradient(ghostwhite, aliceblue);
}

.wadokei_face {
  border: 2px solid goldenrod1;
}

.tokei_tick {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}

.tokei_tick_inner {
  background-color: darkslategray;
  position: absolute;
  transform: translateX(-50%);
  border: 1px solid whitesmoke
}

.tokei_tick_symbol {
  position: relative;
  left: -40px;
  width: 80px;
  text-align: center;
}

.tokei_tick_emoji {
  position: relative;
  left: -40px;
  width: 80px;
  padding-top: 1px;
  text-align: center;
}

.tokei_tick_secondary_symbol {
  position: relative;
  left: -40px;
  width: 80px;
  padding-top: 10px;
  text-align: center;
}

.day_tick {
  color: black;
}

.night_tick {
  color: lightgoldenrodyellow;
}

.middle {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.middle_inner {
  position: absolute; 
  left: -10px;
  top: -10px;

  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 3px solid gainsboro;
  background-color: darkslategray;
}

.outer_hand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;

}

.inner_hand {
  position: absolute;
  background-color:darkslategray;
  border: 1px solid whitesmoke;
  transform: translateX(-50%);
}

.wa_text {
  font-family: 'Noto Serif JP', serif;
  font-weight: 500;
}

.digital_hms_text {
  font-family: monospace;
}

.face_text {
  color: black;
  position: absolute;
  padding-top: 20%;
  width: 100%;
  text-align: center;
}



.day_segment {
  position: absolute;
  width: 100vw;
  height: 100vw;
  border-radius: 100%;
}